<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>About</title>
</head>

<body>
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
        <div class="row col-8">
            <h3>About.</h3>
            <p>This web (or app) is created to complete our final project of the Sistem Multimedia course in Teknik
                Informatika UIN Sunan Gunung Djati Bandung.
                Supposed to detect what facial expressions are made by the user. Created using Flask with CNN algorithm
                and supported with OpenCV2 tool.
                <br>
                App may be inaccurate and need more improvement. So if you have any suggestion please feel free to tell
                us!
            </p>
        </div>
        <div class="row col-8">
            <h3>Team.</h3>
        </div>

        <div class="row p-3">
            <div class="card m-2" style="width: 18rem;">
                <img src="./images/fellia.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fellia Ayu SA</h5>
                    <p class="lead">1197050043</p>
                    <p class="card-text">Quioet person? Who said?, Strangely active in every activities.</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="./images/sabili.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sabili Haq RS</h5>
                    <p class="lead">1197050123</p>
                    <p class="card-text">Weeb, love to play game, always find out what makes him interested.</p>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom text-center p-1 bg-primary">
            <a class="text-decoration-none text-white" href="./index.html">
                <h4>Back to Main</h4>
            </a>
        </footer>

    </div>

</body>

</html>